[submodule "public"]
    path = public
    url = git@github.com:4ft35t/4ft35t.github.io.git
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
